body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: sans-serif;
}
a {
    color: lightblue;
}
pre {
    font-family: sans-serif;
    font-size: large;
}
img {
    border-radius: 15px;
}